In [2]:
import pandas as pd
import requests

# 1. Forbes' API

The people at Forbes (https://www.forbes.com/) compile lists of the top entity for a wide variety subjects every year<br>
There is an API to retrive them <br>
Here we extract all the lists (including the list of all current billionaires) for each year between 2010 and 2021 and saved them locally

In [3]:
#Making a dataframe containing all the lists compiled by Forbes and the uri to access them via Forbes API
#All the credit goes to abresler for the compiling this list https://github.com/abresler

name = [
  'Top VCs',
  'Athletes',
  "Richest Families",
  'Forbes 400',
  'Billionaires',
  'Self Made Women',
  "Richest in Tech",
  'Hong Kong 50',
  'Australia 50',
  'China 50',
  'Taiwan 50',
  'India 50',
  'Japan 50',
  'Africa 50',
  "Korea 50",
  'Malaysia 50',
  "Philippines 50",
  'Singapore 50',
  'Indonesia 50',
  'Thailand 50',
  "Powerful People",
  "30 Under 30",
  "Powerful Women",
  "Celebrities",
  'MLB Valuations',
  'NASCAR Valuations',
  'NFL Valuations',
  'NBA Valuations',
  'NHL Valuations',
  'Soccer Valuations',
  "Top Colleges",
  "Top Business Schools",
  "Innovative Companies",
  "Small Companies",
  'Best Employers',
  "Largest Private Companies",
  'Asia 200',
  'Asia Fab 50',
  'Most Promising Companies',
  'Powerful Brands',
  "Growth Companies",
  "Best Employers",
  'Global 2000',
  "Best Countries for Business",
  'Best Cities for Business',
  'Best States for Business',
  'Best Small Cities for Business'
]
uri = [
  "midas",
  'athletes',
  'families',
  'forbes-400',
  'billionaires',
  'self-made-women',
  'richest-in-tech',
  'hong-kong-billionaires',
  'australia-billionaires',
  'china-billionaires',
  'taiwan-billionaires',
  'india-billionaires',
  'japan-billionaires',
  'africa-billionaires',
  'korea-billionaires',
  'malaysia-billionaires',
  'philippines-billionaires',
  'singapore-billionaires',
  'indonesia-billionaires',
  'thailand-billionaires',
  'powerful-people',
  None,
  'power-women',
  'celebrities',
  'mlb-valuations',
  'nascar-valuations',
  'nfl-valuations',
  'nba-valuations',
  'nhl-valuations',
  'soccer-valuations',
  'top-colleges',
  'business-schools',
  'innovative-companies',
  'best-small-companies',
  'best-employers',
  'largest-private-companies',
  'asia200',
  'fab50',
  'most-promising-companies',
  'powerful-brands',
  'growth-companies',
  'best-employers',
  'global2000',
  'best-countries-for-business',
  'best-places-for-business',
  'best-states-for-business',
  'best-small-places-for-business'

]
dtypes = [
  "person",
  'person',
  'person',
  'person',
  'person',
  'person',
  'person',
  'person',
  'person',
  'person',
  'person',
  'person',
  'person',
  'person',
  'person',
  'person',
  'person',
  'person',
  'person',
  'person',
  'person',
  'person',
  'person',
  'person',
  'organization',
  'organization',
  'organization',
  'organization',
  'organization',
  'organization',
  'organization',
  'organization',
  'organization',
  'organization',
  'organization',
  'organization',
  'organization',
  'organization',
  'organization',
  'organization',
  'organization',
  'organization',
  'organization',
  'place',
  'place',
  'place',
  'place'
]
cols=zip(name, uri, dtypes)
forbes_list=pd.DataFrame(data=cols, columns=['name', 'uri','dtypes'])
forbes_list["fname"]=forbes_list.name.str.replace(" ", "_")

forbes_list=forbes_list.drop(index=21)

forbes_list.head()

               name           uri  dtypes             fname
0           Top VCs         midas  person           Top_VCs
1          Athletes      athletes  person          Athletes
2  Richest Families      families  person  Richest_Families
3        Forbes 400    forbes-400  person        Forbes_400
4      Billionaires  billionaires  person      Billionaires

systematically saving Forbes lists contained in list for the years 2010-2020

In [ ]:
for year in range(2010, 2021):

    for _, row in forbes_list.iterrows():
        params={ 'type': row["dtypes"], 'year': year, 'uri': row.uri }
        re = requests.get(url, params=params)
        
        #handling cases when the list is missing 
        try:
            api_data=re.json()
        except JSONDecodeError:
            print(f'{params} did not work')              
            continue

        df=pd.DataFrame(re.json())        
        if not df.empty:
            df.to_csv(f'data/{year}_{row.fname}.csv')